.text-box h3 {
    color: pink;
}

#greycol {
    color: grey;
}

.text-box>div>p {
    color: red;
}

.text-box p.yellow {
    color: yellow;
}

.text-box>p:nth-child(2),
.text-box>div>p:nth-child(2) {
    /* Залишаємо без змін, оскільки це елементи, які не потрібно фарбувати */
}

.text-box>h3:nth-child(5) {
    /* Залишаємо без змін */
}